@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /* Colors */

  /* Primary */

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--veryLightGray);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.7;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

article {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header,
article,
footer {
  flex-shrink: 0;
  text-align: center;
}

header {
  margin: 90px auto;
  margin-bottom: 75px;
  max-width: 300px;
}

.first_header {
  font-size: 1.619em;
  font-weight: 200;
}

.second_header {
  font-size: 1.619em;
  font-weight: 600;
  margin-bottom: 20px;
}

header > h1 {
  color: var(--veryDarkBlue);
}

header > p {
  font-size: 1em;
  font-weight: 400;
  color: var(--grayishBlue);
}

.card_description {
  font-weight: 400;
  color: var(--grayishBlue);
}

article {
  margin: auto 32px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.333em;
  text-align: right;
  padding: 2em 25px;
  margin-bottom: 20px;
  max-width: 311px;
}

.cyan {
  border-top: 0.35em solid var(--cyan);
}

.orange {
  border-top: 0.35em solid var(--orange);
}

.blue {
  border-top: 0.35em solid var(--blue);
}

.red {
  border-top: 0.35em solid var(--red);
}

.card_title {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--veryDarkBlue);
  text-align: left;
}

.card_description {
  text-align: left;
  font-size: 0.9em;
}
.card_icon {
  margin-top: 12.5px;
}

footer {
  margin-top: auto;
}

.attribution {
  width: 100%;
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  .card {
    margin: 29px 0;
    max-width: 350px;
  }

  .card_description {
    font-size: 1.1em;
    padding-right: 20px;
  }

  .center_section {
    margin: 0 29px;
  }

  header {
    max-width: 510px;
    text-align: center;
    margin: 75px auto;
    margin-bottom: 35px;
  }
  .first_header,
  .second_header {
    font-size: 2em;
  }
  article {
    flex-grow: 0;
    margin-top: 0;
  }
}
